
@{
    ViewData["Title"] = "_Categories";
}

<div class="container">
	<div class="row-12">
		<div class="col-sm-9">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="mainmenu pull-left">
				<ul class="nav navbar-nav collapse navbar-collapse">
					<li class="dropdown">
						<a href="#">Danh aMục<i class="bi bi-justify"></i></a>
						<ul role="menu" class="sub-menu">

							<!--sanpham--laptop-->
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
									<li class="dropdown">
										<a class="nav-link text-dark" asp-area="" asp-controller="laptop" asp-action="Index">
											<i class="bi bi-laptop" style="color: #74C0FC;"></i> Laptop
										</a>
										<ul role="menu" class="sub-menu">
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-controller="lenovo" asp-action="Index">
													Lenovo
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="acer" asp-action="Index">
													Acer
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="dell" asp-action="Index">
													Dell
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="acer" asp-action="Index">
													Acer
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="hp" asp-action="Index">
													HP
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="msi" asp-action="Index">
													MSI
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
									<li class="dropdown">
										<a class="nav-link text-dark" asp-area="" asp-controller="macbook" asp-action="Index">
											<i class="bi bi-apple" style="color: #74C0FC;"></i> Macbook
										</a>
										<ul role="menu" class="sub-menu">
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-controller="macbook" asp-action="Index">
													Macbook Air
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="macbook" asp-action="Index">
													MacBook Pro
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
									<li class="dropdown">
										<a class="nav-link text-dark" asp-area="" asp-controller="iphone" asp-action="Index">
											<i class="bi bi-phone" style="color: #74C0FC;"></i> iPhone
										</a>
										<ul role="menu" class="sub-menu">
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-controller="iPhone" asp-action="Index">
													iPhone Xs Series
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="iPhone" asp-action="Index">
													iPhone 11 Series
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="iPhone" asp-action="Index">
													iPhone 12 Series
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="iPhone" asp-action="Index">
													iPhone 13 Series
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="iPhone" asp-action="Index">
													iPhone 14 Series
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="iPhone" asp-action="Index">
													iPhone 15 Series
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
									<li class="dropdown">
										<a class="nav-link text-dark" asp-area="" asp-controller="ipad" asp-action="Index">
											<i class="bi bi-tablet" style="color: #74C0FC;"></i> iPad
										</a>
										<ul role="menu" class="sub-menu">
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-controller="ipad" asp-action="Index">
													iPad Pro
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="ipad" asp-action="Index">
													iPad Gen
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="ipad" asp-action="Index">
													iPad Air
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="ipad" asp-action="Index">
													iPad Mini
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>   bi bi-earbuds
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
									<li class="dropdown">
										<a class="nav-link text-dark" asp-area="" asp-controller="phukien" asp-action="Index">
											<i class=" bi bi-earbuds" style="color: #74C0FC;"></i> Phụ kiện
										</a>
										<ul role="menu" class="sub-menu">
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-controller="banphim" asp-action="Index">
													Bàn phím
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="chuot" asp-action="Index">
													Chuột
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="butcamung" asp-action="Index">
													Bút cảm ứng
												</a>
												<a class="nav-link text-dark" asp-area="" asp-controller="tui" asp-action="Index">
													Túi cảm ứng
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							</a4>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
@* 	<div class="col-sm-3">
		<div class="search_box pull-right">
			<input type="text" placeholder="Tìm kiếm sản phẩm..." id="searchTerm" name="searchTerm" class="form-control w-25 rounded-pill mr-2">
			@* <input type="text" id="searchTerm" name="searchTerm" class="form-control w-25 rounded-pill mr-2"> 
			<span class="input-group-text" id="basic-addon2">
				<i class="bi bi-search"></i>
			</span>
		</div>
	</div> *@
</div>
</div>
